<% title @store.name %>

<div class="row">
	<div class="col-md-4">
		<%= image_tag @store.image_url %>
<br><br>
<p>
  <h3>
  	<%= @store.name %>
  </h3>
  <div class="star-rating" data-score= <%= @avg_rating %> ></div>
  <p><%= "#{@reviews.length} reviews" %></p>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @store.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @store.website, @store.website, class: "btn btn-link" %>
</p>

<%= link_to 'Write a Review!', new_store_review_path(@store), class: "btn btn-success" %>
  <br>
  <br>
  <iframe
    width="300"
    height="300"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB6ggKmeMwJXiYmAH5A2Dlyec872HVFkoI
      &q=<%= @store.address.parameterize %>&zoom=14">
  </iframe>

	</div>

	<div class-"col-md-8">
    <h3>Reviews</h3>
		<% if @reviews.blank? %>
      		<h3>There are no reviews for this store.<br> Be the first to write a review!</h3>
    	<% else %>
    	<div class="table-responsive">
    		<table class="table table-condensed">
          <thead>
            <tr>
              <th class="col-md-3"></th>
              <th class="col-md-9"></th>
            </tr>
          </thead>

  				<tbody>
  				  <% @reviews.each do |review| %>
    				  <tr>
                  <td>
                    <h5><strong>
                     <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
                    </strong></h5>
                    <p><%= review.created_at.strftime("%-m/%-d/%-y") %></p>
                  </td>
      					  <td>
     					     <div class="star-rating" data-score= <%= review.rating %> ></div>
      					    <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
                      <% if user_signed_in? %>
                        <% if (review.user == current_user) || (current_user.admin?) %>
                          <%= link_to "Edit", edit_store_review_path(@store, review) %>
                          <%= link_to "Delete", store_review_path(@store, review), method: :delete %>
                         <% end %>
                     <% end %>
      					  </td>
     				 </tr>
  				  <% end %>
 				 </tbody>
			</table>
		</div>
		<% end %>
	</div>
</div>


<%= link_to 'Edit', edit_store_path(@store), class: "btn btn-link"  %> |
<%= link_to 'Back', stores_path, class: "btn btn-link"  %>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/seattlecannabisguide/stars/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
