<% title @store.name %>

<div class="row">
	<div class="col-md-4">
		<%= image_tag @store.image_url %>
<br><br>
<p>
  <h3>
  	<%= @store.name %>
  </h3>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @store.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @store.website, @store.website, class: "btn btn-link" %>
</p>

<%= link_to 'Write a Review!', new_store_review_path(@store), class: "btn btn-primary" %>
	</div>

	<div class-"col-md-8">
		<% if @reviews.blank? %>
      		<h3>There are no reviews for this store.<br> Be the first to write a review!</h3>
    	<% else %>
      		<% @reviews.each do |review| %>
        		<div class="star-rating" data-score= <%= review.rating %> ></div>
        		<p><%= review.comment %></p>
      	<% end %>
<% end %>
	</div>
</div>


<%= link_to 'Edit', edit_store_path(@store), class: "btn btn-link"  %> |
<%= link_to 'Back', stores_path, class: "btn btn-link"  %>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/seattlecannabisguide/stars/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
