<% title @store.name %>

<%= image_tag @store.image_url %>
<br><br>
<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @store.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @store.website, @store.website, class: "btn btn-link" %>
</p>


<%= link_to 'Edit', edit_store_path(@store), class: "btn btn-link"  %> |
<%= link_to 'Back', stores_path, class: "btn btn-link"  %>
