<p id="notice"><%= notice %></p>

<%= image_tag @store.image_url %>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @store.phone %>
</p>

<p>
  <strong>Website:</strong>
  <a href="<%= @store.website %>"><%= @store.website %></a>
</p>


<%= link_to 'Edit', edit_store_path(@store), class: "btn btn-link"  %> |
<%= link_to 'Back', stores_path, class: "btn btn-link"  %>
